<!--The content below is only a placeholder and can be replaced.-->
<div class="container">


  <div style="text-align:center">
    <h1>
      <span class="label label-success">Live Bitcoin Price Chart</span>
    </h1>
    <h1>

    </h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <h3>
          <span class="label label-primary">BTC to INR rate: {{inrRate | currency:'INR':true}}</span>
        </h3>
      </div>
      <div #chartTarget>
        chart target
      </div>
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <h3>
          <span class="label label-primary">BTC to USD rate: {{usdRate | currency:'USD':true}}</span>
        </h3>
      </div>
      <div #usdChartTarget>
        chart target
      </div>
    </div>
  </div>

  <footer>
    <h3>
      <span class="label label-warning">Balram Chavan </span>
    </h3>
    <div class="row">      
      <div class="col-md-1">
        <h4>
          <a href="https://www.linkedin.com/in/balram-chavan-957511116/" target="_blank">LinkedIn</a>
        </h4>
      </div>
      <div class="col-md-1">
        <h4>
          <a href="https://github.com/ultrasonicsoft"  target="_blank">GitHub</a>
        </h4>
      </div>

    </div>
  </footer>
</div>